html, 
body {
	padding: 0;
	margin: 0;
	height: 100%;
}

/*==*/
h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 { font-size: 3.5em; }

/*==*/

body {
    background-attachment: fixed;
}

/*#loginContainer {
    background: rgba(0,0,0,0.8);
    color: #000;}*/

    #loginContainer{
      position: relative;
      height: 710px;

/*  width: 250px;
  height: 350px;
  top: calc(50% - 175px);
  left: calc(50% - 125px);*/
  background: inherit;
  border-radius: 8px;
  overflow: hidden;
}

#loginContainer:before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: inherit; 
   box-shadow: inset 0 0 0 800px rgba(40,33,33,0.75);
   filter: blur(10px);
}

#inputContainer, #loginText{
  position: relative;
  /*margin-top: 50px;*/
/*  text-align: center;
  z-index: 1;
*/}

#inputContainer, #loginText> *{
  display: inline-block;
  /*width: 200px;*/
}

/*box-shadow: inset 0 0 0 200px rgba(255,255,255,0.8);*/

/*=======*/

/*#loginContainer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#loginContainer:before {
    box-shadow: inset 0 0 2000px rgba(05, 05, 05, 1);
    filter: blur(10px);
}


#loginContainer {
    background: inherit;
}
 
#loginContainer:before {
    background: inherit;
}
*/
/*box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);*/


/*==*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.cb-slideshow:after {
    content: '';
    /*background: transparent url(../images/pattern.png) repeat top left;*/
}
.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h3 {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px;
    color: rgba(169,3,41, 0.8);
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url(../images/1.jpg) 
}
.cb-slideshow li:nth-child(2) span {
    background-image: url(../images/2.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(../images/3.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(../images/4.jpg);
    -webkit-animation-delay: 36s;
    -moz-animation-delay: 36s;
    -o-animation-delay: 36s;
    -ms-animation-delay: 36s;
    animation-delay: 36s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url(../images/5.jpg);
    -webkit-animation-delay: 48s;
    -moz-animation-delay: 48s;
    -o-animation-delay: 48s;
    -ms-animation-delay: 48s;
    animation-delay: 48s;
}
.cb-slideshow li:nth-child(6) span {
    background-image: url(../images/6.jpg);
    -webkit-animation-delay: 60s;
    -moz-animation-delay: 60s;
    -o-animation-delay: 60s;
    -ms-animation-delay: 60s;
    animation-delay: 60s;
}
.cb-slideshow li:nth-child(2) div {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -ms-animation-delay: 1s;
    animation-delay: 1s;
}
.cb-slideshow li:nth-child(3) div {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s;
}
.cb-slideshow li:nth-child(4) div {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
}
.cb-slideshow li:nth-child(5) div {
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    -ms-animation-delay: 4s;
    animation-delay: 4s;
}
.cb-slideshow li:nth-child(6) div {
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -o-animation-delay: 5s;
    -ms-animation-delay: 5s;
    animation-delay: 5s;
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in-out;
    }
    8% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -webkit-animation-timing-function: ease-in-out;
    }
    65% {
        opacity: 1;
        -webkit-transform: scale(1.9);
    }
    75% {
        opacity: 0;
        -webkit-transform: scale(3.1);
    }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in-out;
    }
    8% {
        opacity: 1;
        -moz-transform: scale(1.05);
        -moz-animation-timing-function: ease-in-out;
    }
    65% {
        opacity: 1;
        -moz-transform: scale(1.9);
    }
    75% {
        opacity: 0;
        -moz-transform: scale(3.1);
    }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% {
        opacity: 0;
        -o-animation-timing-function: ease-in-out;
    }
    8% {
        opacity: 1;
        -o-transform: scale(1.05);
        -o-animation-timing-function: ease-in-out;
    }
    65% {
        opacity: 1;
        -o-transform: scale(1.9);
    }
    75% {
        opacity: 0;
        -o-transform: scale(3.1);
    }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% {
        opacity: 0;
        -ms-animation-timing-function: ease-in-out;
    }
    8% {
        opacity: 1;
        -ms-transform: scale(1.05);
        -ms-animation-timing-function: ease-in-out;
    }
    65% {
        opacity: 1;
        -ms-transform: scale(1.9);
    }
    75% {
        opacity: 0;
        -ms-transform: scale(3.1);
    }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% {
        opacity: 0;
        animation-timing-function: ease-in-out;
    }
    8% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-in-out;
    }
    65% {
        opacity: 1;
        transform: scale(1.9);
    }
    75% {
        opacity: 0;
        transform: scale(3.1);
    }
    100% { opacity: 0 }
}
/* Animation for the title */
/*@-webkit-keyframes titleAnimation { 
    0% {
        opacity: 0;
        -webkit-transform: translateY(200px);
    }
    8% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    19% { opacity: 0 }
    25% {
        opacity: 0;
        -webkit-transform: scale(10);
    }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
    0% {
        opacity: 0;
        -moz-transform: translateY(200px);
    }
    8% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -moz-transform: scale(1);
    }
    19% { opacity: 0 }
    25% {
        opacity: 0;
        -moz-transform: scale(10);
    }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% {
        opacity: 0;
        -o-transform: translateY(200px);
    }
    8% {
        opacity: 1;
        -o-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -o-transform: scale(1);
    }
    19% { opacity: 0 }
    25% {
        opacity: 0;
        -o-transform: scale(10);
    }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% {
        opacity: 0;
        -ms-transform: translateY(200px);
    }
    8% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -ms-transform: scale(1);
    }
    19% { opacity: 0 }
    25% {
        opacity: 0;
        -webkit-transform: scale(10);
    }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    8% {
        opacity: 1;
        transform: translateY(0px);
    }
    17% {
        opacity: 1;
        transform: scale(1);
    }
    19% { opacity: 0 }
    25% {
        opacity: 0;
        transform: scale(10);
    }
    100% { opacity: 0 }
}*/
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
    opacity: 1;
}
@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 100px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 50px }
}
/*==*/

/*#background {
	background-color: #000;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
    }*/

    #loginContainer * {
     color: #f8efe4;
     font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
     font-weight: normal;
     line-height: 1em;
     box-sizing: border-box;
 }

 #loginContainer {
     width: 80%;
     margin: 0 auto;
     position: relative;
     max-width: 900px;
 }

 ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #f8efe4;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #f8efe4;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #f8efe4;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #f8efe4;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #f8efe4;
}

#inputContainer {
    width: 400px;
    height: 710px;
    padding: 45px;
    float: left;
    border-right: 1px dashed #999;
}

#inputContainer h2 {
	text-align: center;
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"] {
	display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #f8efe4;
    height: 27px;
    line-height: 27px;
    width: 100%;
}

#inputContainer label {
	color: #f8efe4;
    font-size: 13px;
    margin-top: 15px;
    display: block;
}

#inputContainer button {
	background-color: transparent;
    border: 2px solid #f8efe4;
    border-radius: 250px;
    color: #f8efe4;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 20px auto;
    height: 41px;
    width: 100%;
}

#inputContainer button:hover {
	cursor: pointer;
}

.hasAccountText span {
	font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.hasAccountText {
	text-align: center;
}

#registerForm{
    display: none;
    padding: 45px;
}

#loginForm {
	display: none;
    padding-top: 185px;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 45px;
}

#loginText {
/*    padding: 180px, 45px, 45px, 45px;*/

    padding-top: 185px;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 45px;
    /*border-left: : 1px solid #999;*/
    display: table-cell;
}

#loginText h1 {
    color: #fad02c;
    font-size: 60px;
    font-weight: bold;
}

.wrap {
    color: #fad02c;
    font-size: 60px;
    font-weight: bold;
}

#spetxt{
    color: #fad02c;
    margin: 35px 0;
    font-size: 60px;
    font-weight: bold;
}


#loginText h2 {
    margin: 0 0 35px 0;
}

#loginText ul {
    padding: 0;
    margin: 0 0 35px 0;
}

#loginText li {
    font-size: 20px;
    list-style-type: none;
    padding: 5px 30px;
    background: url(../images/icons/checkmark.png) no-repeat 0 0;
}

#inputContainer .errorMessage {
    color: #fad02c;
    font-size: 12px;
    display: block;
}